html,body,div,ul{
	margin: 0;
	padding: 0;
}

html,body{
	background: #ffffff;
	font-size: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 0.875em;
}

/* menu bar  */

.menu_holder{
	background: #eeeeee;
	background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
	border-bottom: 1px solid #000;
	width: 100%;
	height: 3.5em;
	position: fixed;
	top:0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.menubar{
	margin-top: 0;

}

.menubar li{
	display: inline-block;
	list-style: none;
	margin-top: 0.5em;
}
.button{
	background: #ffffff;
	border: 1px solid #b4b4b4;
	border-radius: 5px;
	width: 50px;
	height: 20px;
	padding: 5px;
	margin: 5px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button img{
	width: 16px;
	height:16px;
	margin: 2px 15px;
}


/* notes container */

.container{
	display: flex;
	height: 100%;
	margin-top: 43px;
}
.leftpane{
	width: 25%;
	border-right: 1px solid #474747;
	height: 100%;
	overflow-y: auto;
}

.rightpane{
	width: 75%;
}

.rightpane textarea{
	width: 95%;
	height: 90%;
	border: none;
    outline: none;
    overflow: auto;


}

.rightpane p{
	text-align: center;
	color: #808080;
	margin-top: 20px;
}


.notes_list li:hover{
	background: #ddd;
}

.notes_element {
	list-style: none;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	padding-left: 1em;
    padding-top: 0.5em;

}

.active{
	background: #F9ECB3;
}


.title{
    font-size: 1em;
	font-weight: bolder;
}

#note_data{
    margin-left: 10px;
}