<!DOCTYPE html>
<html>
<title>Notes</title>
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script src="{% static 'js/index.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<body>
	<div class="menu_holder">
		<ul class="menubar">
			<li><div id="delete_note" class="button" ><img src="{% static 'img/delete_note.png' %}"></div></li>
			<li><div id="new_note" class="button" ><img src="{% static 'img/new_note.png' %}"></div></li>
		</ul>
	</div>
	<div class="container">
		<div class="leftpane">
			<ul class="notes_list">
                {% for note in data %}
                    <li id="note-{{ note.id }}" class="notes_element" data-id="{{ note.id }}">
                        <div>
                            <p class="title"> {{note.title|default:"New Note"}}</p>
                            <p>{{note.modified_at}} &nbsp; &nbsp;<span class="description">{{note.description|default:"No additional text"}}</span></p>
                        </div>
                    </li>
                {% endfor %}
			</ul>
		</div>
		<div class="rightpane">
            <p id="note_date"></p>
			<textarea id="note_data" rows="10"></textarea>
		</div>
	</div>
</body>
</html>